NODE_ENV=development
SERVER_PORT=3000

DB_HOST=localhost
DB_PORT=5436
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=standard_ms

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_PROFILE_EXCHANGE=profile.events
RABBITMQ_CLASSIFICATION_EXCHANGE=classification.events
RABBITMQ_CONNECTION_TIMEOUT=30000
RABBITMQ_HEARTBEAT=60
RABBITMQ_ADMIN_PORT=15672

OUTBOX_POLL_INTERVAL_MS=2000
OUTBOX_BATCH_SIZE=20
CONSUMER_PREFETCH=10

